footer {
  position: absolute;
  padding-top: $standard-gap;
  font-family: $prime-font;
  color: lighten($second-color, 15%);
  border-top: 5px solid $second-color;
  background-color: $prime-color;
  background-image: url('../images/getcandy/bubbles/dark-bubbles.png');
  background-position: 0px 0px;
  background-repeat: repeat-y;
  animation: animatedBackground 30s linear infinite;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(red($prime-color), green($prime-color), blue($prime-color));
    background: -moz-linear-gradient(top, rgba(red($prime-color), green($prime-color), blue($prime-color),1) 0%, rgba(red($prime-color), green($prime-color), blue($prime-color),0) 100%);
    background: -webkit-linear-gradient(top, rgba(red($prime-color), green($prime-color), blue($prime-color),1) 0%,rgba(red($prime-color), green($prime-color), blue($prime-color),0) 100%);
    background: linear-gradient(to bottom, rgba(red($prime-color), green($prime-color), blue($prime-color),1) 0%,rgba(red($prime-color), green($prime-color), blue($prime-color),0) 100%);
  }

  .wave {
    position: absolute;
    top: -40px;
    left: 0;
    @include tablet-phone {
      top: -30px;
    }
  }

  .element {
    margin-bottom: 0;
  }

  .logo {
    display: block;
    margin-bottom: calc(#{$standard-gap} / 3);

    img {
      width: auto;
      height: 80px;
    }
  }

  .tag-line {
    font-size: 0.8em;
  }

  h4 {
    margin-top: calc(#{$standard-gap} / 2);
    margin-bottom: #{$standard-gap / 3};
    font-size: 1.4em;
    font-weight: 400;
    color: white;
  }

  a {
    color: lighten($second-color, 15%);

    &:visited {
      color: lighten($second-color, 15%);
    }

    &:hover {
      color: white;
    }

    &:focus {
      top: 1px;
      color: white;
    }

    &:active {
      color: white;
    }
  }

  nav {
    font-size: 0.9em;

    li {
      margin-bottom: 0;
    }
  }
}