.element {
  .notification {
    text-align: center;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;

    h3 {
      color: #5cb85c;
      text-transform: uppercase;
      margin-top: 0;
    }

    i {
      font-size: 25pt;
    }

    p {
      margin-bottom: 0;
    }

  }
}