/* Elements

Commonly elements that hold content

***********************************************/

.element {
  padding: $standard-gap;
  margin-bottom: $standard-gap;

  @include phone {
    box-shadow: none !important;
  }
}

/* Container
***********************************************/

.container-fluid {
  padding-left: #{$standard-gap * 4};
  padding-right: #{$standard-gap * 4};

  @include x-desktop {
    padding-left: $standard-gap;
    padding-right: $standard-gap;
  }

  @include desktop {
    padding-left: #{$standard-gap / 2};
    padding-right: #{$standard-gap / 2};
  }

  @include tablet {
    padding-left: #{$standard-gap / 2};
    padding-right: #{$standard-gap / 2};
  }

  @include phone {
    padding-left: #{$standard-gap / 2};
    padding-right: #{$standard-gap / 2};
  }

  &.push-top {
    margin-top: #{$standard-gap * 2};

    @include tablet-phone {
      margin-top: $standard-gap;
    }
  }
}

/* Overides
***********************************************/

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
  }

  &.vertical {
    ul {
      li {
        display: block;
      }
    }
  }
}

/* Top
***********************************************/

@import "includes/top";

/* Header
***********************************************/

@import "includes/header";

/* Lightbox (Lity)
***********************************************/

@import "includes/lightbox";

/* Navigation
***********************************************/

@import "includes/navigation";

/* Promotions
***********************************************/

@import "includes/promotions";

/* Banner
***********************************************/

@import "includes/banner";

/* Breadcrumbs
***********************************************/

@import "includes/breadcrumbs";

/* Newsletter
***********************************************/

@import "includes/newsletter";

/* Notification
***********************************************/

@import "includes/notification";

/* Panel
***********************************************/

@import "includes/panel";

/* Social Links
***********************************************/

@import "includes/social-links";

/* Page Content

Generic and Homepage Styles

***********************************************/

@import "includes/generic-page-content";

/* Product Global Styles
**********************************************/

@import "includes/product-globals";

/* Sidebar
***********************************************/

@import "includes/sidebar";

/* Product Template
***********************************************/

@import "includes/product";

/* Product Listings / Search Results
***********************************************/

@import "includes/product-listing";

/* Category Template
***********************************************/

@import "includes/category";

/* Adverts
***********************************************/

@import "includes/adverts";

/* Footer
***********************************************/

@import "includes/footer";

/* Copyright
***********************************************/

@import "includes/copyright";
